<a href="https://colab.research.google.com/github/morpheus17201/MLP/blob/main/Week01_GA2_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = r'https://raw.githubusercontent.com/morpheus17201/MLP/refs/heads/main/Week1_GA1.2_dataset.csv'

In [4]:
df = pd.read_csv(data_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

# General Instructions
- Shape of the dataset is (10000, 12) [Please note that if you do not obtain this shape, it may indicate that the data was not uploaded correctly into the Colab environment.]
- For simplicity please consider all the unknown values ("?") as null values for this assignment.
- Consider each question as individual question unless instructed otherwise and use the given csv data to compute all the solutions.

In [7]:
df.replace('?', np.nan, inplace=True)
df.head(10)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East
5,2009-01-02,2009,Greenwich,2868880.0,3300000.0,Single Family,Detached House,3,1,1039.0,1.025953,North
6,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
7,2009-01-02,2009,Greenwich,592760.0,920000.0,Single Family,Detached House,3,3,937.0,1.025953,North
8,2009-01-02,2009,NaN,603540.0,1680000.0,Single Family,Detached House,3,1,1039.0,1.025953,East
9,2009-01-02,2009,Bridgeport,137901.0,245000.0,Single Family,Detached House,3,1,956.0,1.025953,West

# Question 1
Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [6]:
even_rows_df = df.iloc[::2]
value = even_rows_df.iloc[0, 3]
print("Value:", value)

Value: 111440.0

# Question 2

Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [8]:
even_rows_df = df.iloc[::2]
value = even_rows_df.iloc[332, 3]
print("Value:", value)

Value: 256200.0

# Question 3
Select all the odd indexed rows from the given dataset.<br>
What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))<br>
Please consider case sensitivity while giving your solution capital letter ≠ small letter. If it is a string don't write quotes in the solution.

In [9]:
odd_rows_df = df.iloc[1::2]
value = odd_rows_df.iloc[332, 3]
print("Value:", value)

Value: 352940.0

# Question 4

Select all the odd indexed columns from the given dataset. <br>
What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))<br>
Please consider case sensitivity while giving your solution capital letter ≠ small letter<br>
If it is a string don't write quotes in the solution

In [15]:
odd_cols_df = df.iloc[:,1::2]
value = odd_cols_df.iloc[100, 5]
print("Value:", value)

Value: West

# Question 5
Select all the even indexed columns and even indexed rows from the given dataset. <br>
What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))<br>
Please consider case sensitivity while giving your solution capital letter ≠ small letter<br>
If it is a string don't write quotes in the solution.

In [14]:
odd_df = df.iloc[::2, ::2]
value = odd_df.iloc[255, 3]
print("Value:", value)

Value: Detached House

# Question 6
Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data

In [23]:
most_recent_years = sorted(df['Year'].unique())[-6:]
print(f"{most_recent_years=}")
sample_count = df[df['Year'].isin(most_recent_years)].shape[0]
print(f"{sample_count=}")

most_recent_years=[np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022)]
sample_count=4749

# Question 7

Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [25]:
df[(df['num_rooms']==3) & (df['num_bathrooms']==3)].shape[0]

2730

# Question 8


Determine the number of samples (rows) in the dataset which has num_rooms = 3 **or** num_bathrooms = 3

In [26]:
df[(df['num_rooms']==3) | (df['num_bathrooms']==3)].shape[0]

8591

# Question 9

In the Year 2022, how many houses (rows):
- located in the Greenwich Locality
- have exactly num_room == 3, and
- facing towards either the North or East?

In [29]:
df['Face'].unique()

array(['South', 'East', 'North', 'West'], dtype=object)

In [30]:
df.dtypes

Date                  object
Year                   int64
Locality              object
Estimated Value      float64
Sale Price           float64
Property              object
Residential           object
num_rooms              int64
num_bathrooms          int64
carpet_area          float64
property_tax_rate    float64
Face                  object
dtype: object

In [31]:
df[(df['Year']==2022) & (df['num_rooms']==3) & (df['Face'].isin(['North','East']))].shape[0]

340

# Question 10
Calculate the number of samples(rows) that correspond to the month of August across all the years?

In [34]:
df[df['Date'].astype(str).str.contains('-08-')].shape[0]

1050

# Question 11
According to the data which Locality have highest average Sale Price?

In [37]:
df.groupby('Locality')['Sale Price'].mean().sort_values(ascending=False)

Locality
Greenwich        2.270224e+06
Fairfield        7.277225e+05
Stamford         6.305313e+05
Norwalk          5.590959e+05
West Hartford    3.385472e+05
Bridgeport       1.740953e+05
Waterbury        1.062152e+05
Name: Sale Price, dtype: float64