<a href="https://colab.research.google.com/github/morpheus17201/MLP/blob/main/Week01_GA1_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np

In [3]:
data_path = r'https://raw.githubusercontent.com/morpheus17201/MLP/refs/heads/main/Week1_GA_dataset.csv'

In [18]:
df = pd.read_csv(data_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

# Question 1
How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"
Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

In [19]:
unknown_count = 0
for col in list(df.columns):
  in_col_count = (df[col]=='?').sum()
  unknown_count+=in_col_count
  print(f"{col+':':24} {in_col_count}")

print(f"Total count of unknown ('?') values: {unknown_count}")

Date:                    0
Year:                    0
Locality:                0
Estimated Value:         0
Sale Price:              0
Property:                1823
Residential:             0
num_rooms:               0
num_bathrooms:           0
carpet_area:             0
property_tax_rate:       0
Face:                    0
Total count of unknown ('?') values: 1823

In [21]:
# Inspecting rows with '?'
df[df['Property']=='?'].tail(10)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
9960,2022-09-21,2022,Norwalk,1082810.0,1612500.0,?,Detached House,3,2,961.0,1.003979,South
9967,2022-09-23,2022,Bridgeport,118710.0,280000.0,?,Detached House,3,3,NaN,1.003979,North
9968,2022-09-23,2022,NaN,450910.0,704500.0,?,Detached House,3,3,900.0,1.003979,South
9973,2022-09-24,2022,West Hartford,175210.0,290000.0,?,Detached House,3,3,906.0,1.003979,West
9980,2022-09-25,2022,Bridgeport,102270.0,283000.0,?,Detached House,3,1,NaN,1.003979,South
9984,2022-09-28,2022,Stamford,475140.0,730000.0,?,Detached House,3,1,977.0,1.003979,South
9989,2022-09-29,2022,Stamford,373530.0,485000.0,?,Detached House,3,3,1084.0,1.003979,South
9990,2022-09-30,2022,NaN,352030.0,700000.0,?,Detached House,3,3,958.0,1.003979,North
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,?,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,?,Duplex,4,4,1416.0,1.003979,North

In [25]:
df.replace('?', np.nan, inplace=True)
df.tail(10)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
9990,2022-09-30,2022,NaN,352030.0,700000.0,NaN,Detached House,3,3,958.0,1.003979,North
9991,2022-09-30,2022,Norwalk,344270.0,512500.0,Single Family,Detached House,3,3,NaN,1.003979,West
9992,2022-09-30,2022,Fairfield,NaN,680000.0,Single Family,Detached House,3,2,908.0,1.003979,West
9993,2022-09-30,2022,West Hartford,121870.0,235000.0,Single Family,Detached House,3,2,1087.0,1.003979,South
9994,2022-09-30,2022,NaN,155550.0,215000.0,Three Family,Triplex,6,5,2114.0,1.003979,North
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,NaN,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,NaN,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

# Question 2
What is the shape of the dataset ?

In [26]:
df.shape

(10000, 12)

# Question 3
(2 points)
<br>
What is the value present at the 692th indexed row and 0th indexed column in the data ?
dataframe[692,0] (simpy saying this in a matrix)
rows/ columns starts indexing from zero(0) in python

In [29]:
df.iloc[692,0]

'2009-11-16'

# Question 4
What is the value present at the 546th indexed row and 7th indexed column in the data ?
 dataframe[546,7] (simpy saying this in a matrix)
 rows/ columns starts indexing from zero(0) in python

In [33]:
df.iloc[546, 7]

np.int64(3)

# Question 5

What are the unique values present in the Locality feature of the dataset?

In [49]:
df['Locality'].dropna().unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', 'Fairfield',
       'West Hartford', 'Stamford'], dtype=object)

# Question 6
Which of the following features have missing(NaN) values present in the dataset?
(Note: compute after removing "?")

In [51]:
print(f"Columns having missing values: {df.columns[df.isnull().any()].tolist()}")

Columns having missing values: ['Locality', 'Estimated Value', 'Property', 'carpet_area']

# Question 7
Which of the following feature has most missing(NaN) values present in the dataset? <br>
 (Note: compute after removing "?")

In [56]:
cols_with_null = dict()
for col in df.columns[df.isnull().any()].tolist():
  print(f"{col:18}: {df[col].isnull().sum()}")
  cols_with_null[col] = df[col].isnull().sum()

Locality          : 1253
Estimated Value   : 1243
Property          : 1823
carpet_area       : 1229

# Question 8

Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?<br>
 (Note: compute after removing "?")

In [65]:
filtered_df = df.dropna(thresh=df.shape[1] - 2)
filtered_df.shape[0]

9917

# Question 9

Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?
 <br>(Note: compute after removing "?")

In [64]:
df.dropna(thresh=df.shape[1]).shape[0]

5449